body{
    margin:0;
    padding:40px;
    background-color: black;
    color:green;
}
.main{
    display: flex;
}
.selectionPortal{
    width: 25%;
}
.selectionPortal>form>input{
    line-height: 2rem;

    font-weight: bold;
}
.selectionPortal>form>button{
    line-height: 2.3rem;
    background-color: green;
    color:white;
}
.graph{
    width: 60%;
}